<div class="wrapper wrapper-full-page">
  <div class="full-page login-page" filter-color="black" data-image="/assets/img/login.jpeg">
      <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
      <div class="content">
          <div class="container">
              <div class="row">
                  <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                      <form method="#" action="#">
                          <div class="card card-login">
                              <h4 class="category text-center">
                                  LOGIN
                              </h4>
                              <div class="card-content">
                                  <div class="input-group">
                                      <span class="input-group-addon">
                                          <i class="material-icons">email</i>
                                      </span>
                                      <div class="form-group label-floating is-empty">
                                          <label class="control-label">Email address</label>
                                          <input type="email" class="form-control">
                                      <span class="material-input"></span></div>
                                  </div>
                                  <div class="input-group">
                                      <span class="input-group-addon">
                                          <i class="material-icons">lock_outline</i>
                                      </span>
                                      <div class="form-group label-floating is-empty">
                                          <label class="control-label">Password</label>
                                          <input type="password" class="form-control">
                                      <span class="material-input"></span></div>
                                  </div>
                              </div>
                              <div class="footer text-center">
                                  <a routerLink="/dashboard" class="btn btn-second btn-round">login<div class="ripple-container"></div></a>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <a routerLink="/forgotpassword" class="btn btn-primary btn-simple">FORGOT PASSWORD
                                      <div class="ripple-container"></div></a>
                                  </div>
                                  <div class="col-md-6">
                                      <a routerLink="/register" class="btn btn-primary btn-simple">REGISTER
                                      <div class="ripple-container"></div></a>
                                  </div>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
      <footer class="footer">
          <div class="container">
              <p class="copyright pull-right">
                  ©
                  <script>
                      document.write(new Date().getFullYear())
                  </script>2018
                  <a routerLink="http://www.creative-tim.com"> Trio Desk</a>, made with love for a better web
              </p>
          </div>
      </footer>
  <div class="full-page-background" style="background-image: url(assets/img/login.jpeg) "></div></div>
</div>
