<div class="wrapper wrapper-full-page">
  <div class="full-page login-page" filter-color="black" data-image="../../assets/img/login.jpeg">
      <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
      <div class="content">
          <div class="container">
              <div class="row">
                  <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                      <form method="#" action="#">
                          <div class="card card-login">
                              <h4 class="category text-center">
                                  REGISTER
                              </h4>
                              <div class="card-content">
                          <div class="input-group">
                              <span class="input-group-addon">
                                  <i class="material-icons">face</i>
                              </span>
                              <div class="form-group is-empty"><input type="text" class="form-control" placeholder="User Name..."><span class="material-input"></span></div>
                          </div>
                          <div class="input-group">
                              <span class="input-group-addon">
                                  <i class="material-icons">email</i>
                              </span>
                              <div class="form-group is-empty"><input type="text" class="form-control" placeholder="Email..."><span class="material-input"></span></div>
                          </div>
                          <div class="input-group">
                              <span class="input-group-addon">
                                  <i class="material-icons">lock_outline</i>
                              </span>
                              <div class="form-group is-empty"><input type="password" placeholder="Password..." class="form-control"><span class="material-input"></span></div>
                          </div>
                          <div class="input-group">
                              <span class="input-group-addon">
                                  <i class="material-icons">person</i>
                              </span>
                                <div class="form-group is-empty">
                                  <input type="password" placeholder="Role..." class="form-control"><span class="material-input"></span></div>
                                  <!--<select class="selectpicker" data-style="select-with-transition" multiple="" title="Role..." data-size="7" tabindex="-98">
                                      <option disabled=""> Select your Role</option>
                                      <option value="2">Admin </option>
                                      <option value="3">User</option>
                                  </select>  -->                                               
                          </div>
                          <div class="checkbox">
                              <label>
                                  <input type="checkbox" name="optionsCheckboxes" checked=""><span class="checkbox-material"><span class="check"></span></span> I agree to the
                                  <a routerLink="/#something">terms and conditions</a>.
                              </label>
                          </div>
                      </div>                                   
                          <div class="row">
                              <div class="col-md-6 text-center">
                                  <a routerLink="/login" class="btn btn-second btn-round">REGISTER<div class="ripple-container"></div></a>
                              </div>
                              <div class="col-md-6">
                                  <a routerLink="/login" class="btn btn-second btn-round">CANCEL<div class="ripple-container"></div></a>
                              </div>
                          </div>
                      </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
      <footer class="footer">
          <div class="container">
              <p class="copyright pull-right">
                  ©
                  <script>
                      document.write(new Date().getFullYear())
                  </script>2018
                  <a routerLink="http://www.creative-tim.com"> Trio Desk</a>, made with love for a better web
              </p>
          </div>
      </footer>
  <div class="full-page-background" style="background-image: url(../../assets/img/login.jpeg) "></div></div>
</div>